@*@using Microsoft.AspNetCore.Razor.Language*@
@*@using Microsoft.CodeAnalysis.Elfie.Model.Map*@
@*@model _1670_Final.Models.Cart*@
@*@using Microsoft.AspNetCore.Mvc.TagHelpers*@


<p>helloe</p>
@{
    ViewData["Title"] = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        padding: 10px;
    }
</style>

 <script src="/Scripts/jquery-1.4.4.min.js"type="text/javascript"></script>
 @*   <script src="/Scripts/jquery.min.js"></script>*@
   
<script type="text/javascript">
    $(document).ready(function (){
        $(".updateCart").click(function (event){
            event.preventDefault();
          var quantity = $(".quantity_" + $(this).attr("data-id")).val();
            console.log(quantity);

            $.ajax({
                type: "POST",
                url:"@Url.Action("updateCart","Cart")",
                data: {
                    id: $(this).attr("data-id"),
                    quantity:quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("ListCart","Cart")';
                }
            });

        });
    });
</script>

<div class="list-cart">
    <table class="cart" border="1">
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @{
            int STT = 0;
            foreach (var item in ViewBag.carts)
            {
                string txt_class = "quantity_" + item.Book.Id;
                STT++;
                //int total = item.Product.Price * item.Quantity;
                double  total = item.Book.Book_price * item.Qty;
                //caloriesBurned = Convert.ToInt32(Decimal.Multiply(maleusage, textBoxInt));
                <tr>
                    <td>@STT</td>
                    <td>@item.Book.NameBook </td>
                    
                    <td><img src="@item.Book.Book_image" width="100" height="100" /></td>
                    <td><input type="number" class="@txt_class" value="@item.Qty" /></td>
                    <td>@item.Book.Book_price</td>
                    <td>@total</td>
                    <td><a asp-controller="Cart" asp-action="updateCart" asp-route-id="@item.Book.Id">Update</a></td>
                    <td><a asp-controller="Cart" asp-action="deleteCart" asp-route-id="@item.Book.Id">Delete</a></td>

                </tr>
            }
        }

    </table>
</div>

